<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>India Weather App</title>

    <link href="static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>India Weather App</h1>
        <input type="text" id="cityInput" placeholder="Enter city name">
        <button onclick="fetchWeather()">Get Weather</button>
        <div id="weatherDisplay" class="weather-info">
            <!-- Weather information will be displayed here -->
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>

